body {
    color: #7581a1;
    font-size: 16px;
    font-style: regular;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}
a {
    text-decoration: none;
}
h1 {
    color: #192b59;
    font-size: 80px;
    font-weight: 600;
    font-style: semibold;
}
.nav {
    color: #6e7ea9;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.btn-primary {
    background-color: #1085e4;
    border: 1px solid #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;

}
.btn-secondary {
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    color: #7e8bae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-secondary:hover {
    background-color: #fff;
}
.btn-free {
    background-color: #1085e4; 
    color: #fff;
    font-size: 12px;
    font-style: regular;
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-group a+a{
    margin-left:15px;
}
.btn-info {
    background-color: transparent;
    border: 1px solid #dce1e5;
    color: #8085b1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius: 30px;

}
.btn-info:hover {
    background-color: #fff;

}
.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
}
.grid h2 span {
    color: #1085e4;
    font-size: 14px;
    font-style: extrabold;
    font-weight: 800;
    text-transform: uppercase;
    display: block;

}
.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-style: semibold;
    font-weight: 600;

}
.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-style: semibold;
    font-weight: 600;
}
.grid-item span {
    color: #192b59;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;

}
.page-subscribe h2 {
    color: #fff;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600;
}
.page-subscribe h2 span {
    color: #1085e4;
    font-size: 14px;
    font-style: extrabold;
    font-weight: 800;
    text-transform: uppercase;
    display: block;

}
.page-subscribe p {
    color:#dfe8ff;
    font-size: 18px;
    font-style: regular;
    font-weight: 400;
}
.page-subscribe button {
    color: #fff;
    font-size: 14px;
    font-style: bold;
    font-weight: 700;
}
.page-software h2 {
    color: #192b59;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600;

}
.page-software dt {
    color: #5a6789;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;

}
.page-stat h2 span {
    color: #1085e4;
    font-size: 16px;
    font-style: extrabold;
    font-weight: 800;
    text-transform: uppercase;
    display: block;

}
.page-stat h2 {
    color: #192b59;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600;
}
.page-stat li {
    color: #1085e4;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
}
.page-stat li span {
    color: #bacbdc;
    font-size: 60px;
    font-style: bold;
    font-weight: 700;

}
.page-app h2 {
    color: #192b59;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600;
}
.page-analytics h2 {
    color: #192b59;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600
}
.page-analytics a {
    color: #fff;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    text-transform: uppercase;
}
.page-analytics2 h2 {
    color: #192b59;
    font-size: 50px;
    font-style: semibold;
    font-weight: 600
}
.page-analytics2 a {
    color: #fff;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    text-transform: uppercase;
}
.page-screen h2 {
    color: #192b59;
    font-size: 40px;
    font-style: semibold;
    font-weight: 600;
}
.page-screen h2 span {
    color: #1085e4;
    font-size: 18px;
    font-style: extrabold;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}
